@media (min-width: 320px){
    .landingPage{
        .wrapper{
            .content{
                .paragraphContent{
                    @include fitContent;
                    p{
                        .asciiExample{
                            // Just for fun!
                            display: none;
                        }
                    }
                    margin-bottom: $moderateSpacing;
                }
                .profileImage{
                    height: 25rem;
                    width: 100%;
                    margin-bottom: $moderateSpacing;
                    img{
                        @include imageFit;    
                    }
                }
            }
        }
    }
}

@media (min-width: 1029px) {
    .landingPage{
        @include flexCenter;
        .wrapper{
            @include wrapperGrid;
            .intro {
                grid-area: h1;
                // h1{

                // }
                // p{

                // }
                // @include pageTitle;
            }
            .intro > *{
                // h1{
                    font-size: 400%;
                // }
            }
            .content{
                grid-area: c;
                display: flex;
                .paragraphContent{

                    flex: 0 0 35%;
                    margin-right: $moderateSpacing;

                }
                .profileImage {
                    height: auto;
                    margin-left: $moderateSpacing;
                    flex: 1;
                    position: relative;
                    
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        // object-position: center bottom;
                        display: none;
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                    }
                }

                .backendImage{
                    height: auto;
                    margin-left: $moderateSpacing;
                    flex: 1;
                    position: relative;
                    .backendIndexImage{
                        object-position: 40% 0%;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        // object-position: center bottom;
                        display: none;
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                    }
                }
            }
        }
    }
}
@media (min-width: 1290px) {
    .wrapper{
        height: auto;
        .intro > *{
            // h1{
                font-size: 400%;
            // }
        }
        .paragraphContent > *{
            font-size: 105%;
        }
    }
}
@media (min-width: 1435px) {
    .landingPage{
        .wrapper{
            .intro > *{
                // h1{
                    font-size: 500%;
                // }
            }
        }
    }
}

