// Fonts
$headingFont: 'Abril Fatface', cursive;
$textFont: 'raleway', sans-serif;

// Colours
$textColour: rgba(0, 0, 0, 0.75);
$link: #0000EE;
$activeLink: #EE0000;
$backgroundColour: #f5f5f5;
$darkAccent: #000000;
$lightAccent: #ffffff;

// Spacing
$minorSpacing: 	0.625rem;
$moderateSpacing: 0.938rem;

// Border Radius
$borderRadius: 0.125rem;

// Image Positions
$topCenterImage: top center;
$topLeftImage: top left;
$topRightImage: top right;

$centerImage: center center;
$centerLeftImage: center left;
$centerRightImage: center right;

$bottomCenterImage: bottom center;
$bottomLeftImage: bottom left;
$bottomRightImage: bottom right;


